# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore API Keys (CRITICAL)
strategy_engine/.env
.env

# Ignore large downloaded datasets and generated results
strategy_engine/data/*.csv
strategy_engine/results/*.csv

# Ignore pathfinder generated output files
pathfinder/paths*.txt
pathfinder/tree.txt**/.~lock.*

# Misc paste ins
strategy_filter/filtered.csv
strategy_filter/filter_summary.txt

# Ignore all HTML in root
/*.HTML

# Personal Documentation
HANDOFF.md
ORIENTATION_NOTES.md
